---
import matter from "gray-matter";
import BaseLayout from "../../../layouts/base.astro";
import Navbar from "../../../components/navbar.astro";
import doAuth from "../../../lib/actions/do-auth.js";
import doEditWord from "../../../lib/actions/do-edit-word.js";
import { resolveEditorActionFromPathname } from "../../../lib/utils/index.js";
import WordEditor, { SubmitButton as WordEditorSubmitButton } from "../../../components/islands/word-editor.jsx";

const { url: { pathname }, redirect } = Astro;

const { isAuthed, authedData: userData } = await doAuth(Astro);
if (!isAuthed) return redirect(`/login?return_to=${encodeURIComponent(pathname)}`);

const {content_decoded, ...wordMetadata} = await doEditWord(Astro);
const word = matter(content_decoded);
const action = resolveEditorActionFromPathname(pathname);
---

<BaseLayout 
  pageTitle="Dictionry"
  class="flex flex-col w-full min-h-screen overflow-hidden"
  isAuthed={isAuthed}
>
  <Navbar returnNav={{
    label: `Return to ${word.data.title}`,
    location: `/browse/${wordMetadata.title}`
  }}>
    <WordEditorSubmitButton client:load />
  </Navbar>
  
  <main class="flex grow px-5 md:px-6 pb-4">
    <!-- 
      hahahaha `action` could have easily been "edit" instead of 
      computing with `resolveEditorActionFromPathname`
    -->
    <WordEditor
      action={action} 
      title={word.data.title} 
      content={word.content} 
      metadata={wordMetadata}
      client:load
    />
  </main>

  <script>
    import { driver } from "driver.js";
    import "driver.js/dist/driver.css";

    function run() {
      const driverObj = driver({
        showProgress: true,
        steps: [
          {
            popover: {
              title: "The Jargons Editor",
              description: "This Jargons Editor makes your word contribution to jargons.dev dictionary seamless; It streamlines you word contribution process leveraging some GitHub APIs ensuring it ends-up as a Pull Request without every interfacing with the GitHub UI or any IDE."
            }
          },
          {
            element: "#title",
            popover: {
              title: "Word Title",
              description: "You are currently in word 'edit' mode, so the title field is <code>readOnly</code>, hence cannot be edited"
            }
          },
          {
            element: "#content",
            popover: {
              title: "Word Content",
              description: "You can go on and edit the existing content of this word"
            }
          },
          {
            element: "#jargons_dev_word_editor",
            popover: {
              title: "The Editor",
              description: "Zoom out! it the Word Input Tab of the Editor, it collects markdown to build its content"
            }
          },
          {
            element: "#whirl-word-editor-preview",
            popover: {
              title: "The Editor Preview",
              description: "This is the Preview Tab of the Editor, it was intended to mimic what the word would look exactly like live on jargons.dev, so don't mind the non-interactive Dummy Navbar"
            }
          },
          {
            element: "#whirl-word-submit-btn",
            popover: {
              title: "The Submit Button",
              description: `
                This is part where the magic happens; when the submit button is clicked, the follwoing actions are taken...
                <ol>
                  <li>- Fork jargons.dev repository to user's account</li>
                  <li>- Create a Branch specific for the current contribution</li>
                  <li>- Makes the submitted changes to the branch, modifies content in the "content/dictionary" directory</li>
                  <li>- Then it creates a Pull Request to merge the user's change Branch to the base jargons.dev repo</li>
                </ol>
              `
            }
          },
          {
            popover: {
              title: "Let's Contribute!!",
              description: "Whenever you're ready! Please try out the contribution flow."
            }
          }
        ]
      });
      driverObj.drive();
    }
    run();
    document.querySelector("#whirl-btn").addEventListener("click", run);
  </script>
</BaseLayout>