---
import "@fontsource/inter";
import "@fontsource/ibm-plex-mono";
import "../base.css";

const { props, url } = Astro;
/**
 * @todo compute a default `ogImageUrl` as fallback
 */
const { pageTitle, class:list, ogImageUrl = "default", subtitle = "Developer Jargons" } = props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Facebook Meta Tags 
		@todo: compute value for `og:description`
		-->
		<meta property="og:url" content={url.href}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={`${ pageTitle } - ${subtitle}`}>
		<meta property="og:description" content="">
		<meta property="og:image" content={ogImageUrl}>

		<!-- Twitter Meta Tags 
		@todo: compute value for `twitter:description`
		-->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content={url.host}>
		<meta property="twitter:url" content={url.href}>
		<meta name="twitter:title" content={`${ pageTitle } - ${subtitle}`}>
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content={ogImageUrl}>

		<title>{ pageTitle } - {subtitle}</title>
	</head>
	<body class={list}>
    <slot />
	</body>
</html>