---
import "@fontsource/inter";
import "@fontsource/ibm-plex-mono";
import "../base.css";
import { SITE_META_KEYWORDS, SITE_META_DESCRIPTION } from "../../constants.js";
import Feedback, { FeedbackTrigger } from "../components/islands/feedback.jsx";
import doAuth from "../lib/actions/do-auth.js";

const { props, url } = Astro;
const { 
	pageTitle, 
	class:list, 
	ogImageUrl = `${url.origin}/og.png`, 
	description = SITE_META_DESCRIPTION,
	subtitle = "Developer Jargons" 
} = props;

const { isAuthed } = await doAuth(Astro);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="keyword" content={SITE_META_KEYWORDS.join(",")} />

		<meta property="og:url" content={url.href}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={`${ pageTitle } - ${subtitle}`}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={ogImageUrl}>

		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content={url.host}>
		<meta property="twitter:url" content={url.href}>
		<meta name="twitter:title" content={`${ pageTitle } - ${subtitle}`}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={ogImageUrl}>

		<title>{ pageTitle } - {subtitle}</title>
	</head>
	<body class={list + " relative"}>
    <slot />

		<Feedback pathname={Astro.url.pathname} client:load />

		<div class="fixed group flex w-full h-fit bottom-0 group">
			<div class="flex flex-col md:flex-row space-y-3 md:space-y-0 bg-white items-center animate-bounce temporary-bounce justify-between p-2.5 md:p-5 mx-auto w-[90%] rounded-md shadow-md border-2 border-gray-200 transition-transform ease-in-out duration-50 translate-y-4 md:translate-y-8 group-hover:-translate-y-10">
				<div class="flex items-center space-x-2">
					<div>
						<svg class="w-7 h-7 md:w-10 md:h-10 group-hover:hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2ZM7 12.5a.5.5 0 0 1 .495.43.762.762 0 0 0 .157.096c.213.106.553.208 1.005.295.896.173 2.111.262 3.343.262 1.232 0 2.447-.09 3.343-.262.452-.087.792-.19 1.006-.295a.764.764 0 0 0 .156-.096.5.5 0 0 1 .995.07c0 1.19-.644 2.438-1.618 3.375C14.9 17.319 13.531 18 12 18c-1.531 0-2.9-.681-3.882-1.625C7.144 15.438 6.5 14.19 6.5 13a.5.5 0 0 1 .5-.5Zm9.519.417.003-.004-.003.004Zm-9.038 0a.017.017 0 0 1-.003-.004l.003.004Zm.901-4.853L9 6.81l.619 1.253 1.381.2-1 .976.236 1.376-1.237-.65-1.235.65L8 9.239l-1-.975 1.382-.2Zm6 0L15 6.81l.619 1.253 1.381.2-1 .976.236 1.376-1.237-.65-1.235.65L14 9.239l-1-.975 1.382-.2Z" clip-rule="evenodd"/>
						</svg>
						<svg class="w-7 h-7 md:w-10 md:h-10 hidden group-hover:flex animate-spin" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
							<path fill-rule="evenodd" d="M9.586 2.586A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2v.089l.473.196.063-.063a2.002 2.002 0 0 1 2.828 0l1.414 1.414a2 2 0 0 1 0 2.827l-.063.064.196.473H20a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2h-.089l-.196.473.063.063a2.002 2.002 0 0 1 0 2.828l-1.414 1.414a2 2 0 0 1-2.828 0l-.063-.063-.473.196V20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-.089l-.473-.196-.063.063a2.002 2.002 0 0 1-2.828 0l-1.414-1.414a2 2 0 0 1 0-2.827l.063-.064L4.089 15H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2h.09l.195-.473-.063-.063a2 2 0 0 1 0-2.828l1.414-1.414a2 2 0 0 1 2.827 0l.064.063L9 4.089V4a2 2 0 0 1 .586-1.414ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z" clip-rule="evenodd"/>
						</svg>
					</div>						
					<h5 class="font-black text-xs md:text-base"><span class="text-lg md:text-2xl">whirl!</span>.jargons.dev</h5>				
				</div>
				<div>
					{ isAuthed ? <FeedbackTrigger client:load /> : (
						<a href={`/login?return_to=${encodeURIComponent(url.pathname)}`}>
							Authenticate to Send Feedback
						</a>
					) }
				</div>
				<button
					class="relative flex cursor-pointer items-center space-x-1 h-fit w-fit justify-center no-underline px-4 py-2 rounded-md border border-gray-200 bg-black text-white text-xs md:text-sm shadow-sm hover:shadow transition-colors"
					id="whirl-btn"
					onclick="run()"
				>
					<div class="absolute -right-4 -top-4">
						<span class="relative flex items-center justify-center h-10 w-10">
							<span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
							<span class="relative inline-flex rounded-full h-5 w-5 bg-red-600"></span>
						</span>
					</div>
					<span>Show me around</span>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="w-4 h-4">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg> 
				</button>
			</div>
		</div>
	</body>
</html>